body {
	position: absolute;
}

.img {
	float: left;
	width: 30%;
	height: 100%;
	padding: 20px;
	background-color: red;
}

.text {
	float: left;
	font-size:130px !important;
	width: 65%;
	height: 100%;
	line-height: 180px;
}

.spacer {
	float: left;
	width: 5%;
	color: transparent;
}

.filler-text {
	border-bottom: 7px solid black;
	color: red;
}