body {
	position: absolute;
}

.img {
	float: left;
	width: 30%;
	height: 100%;
	padding: 20px;
	background-color: red;
}

.text {
	float: right;
	font-size:100px !important;
	width: 70%;
	height: 100%;
	padding: 20px;
	background-color: green;
}